<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<name="viewpoint" content="width=device-width" />

<title>Dev Lock Tech</title>

<link rel="stylesheet" th:href="@{/css/estilo.css}" />

</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/}"> Dev Lock Tech Contatos </a></li>
				<li><a th:href="@{/contatos}"> Listar Contatos </a></li>
				<li><a th:href="@{/contatos/novo}"> Novo Contato </a></li>
			</ul>
		</nav>
		
	</header>
	
	<main>
		<section>
			<h1>Cadastro contatos</h1>
		</section>

		<section>
			<form th:action="${contato.novo} ? @{/contatos} : @{/contatos/{contato}(contato=${contato.id})}" th:object="${contato}" method="${contato.novo} ? post : put">
				
				<div th:if="${!contato.novo}">
					<label>Código: </label> 
					
					<input th:field="*{id}" readonly="readonly" />
				</div>
				
				<div>
					<label>Nome: </label> 
					
					<input th:field="*{nome}" />
				</div>

				<div>
					<label>Telefone: </label> 
					
					<input th:field="*{telefone}"/>
				</div>

				<div>
					<button>Salvar</button>
				</div>
			</form>
		</section>
	</main>
	
	<br />
	<footer>
		&copy Dev Lock Tech - Todos os direitos reservados.
		
	</footer>
	
</body>

</html>