<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<name="viewpoint" content="width=device-width" />

<title>Dev Lock Tech</title>

<link rel="stylesheet" th:href="@{/css/estilo.css}" />

</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/}"> Dev Lock Tech Contatos </a></li>
				<li><a th:href="@{/contatos}"> Listar Contatos </a></li>
				<li><a th:href="@{/contatos/novo}"> Novo Contato </a></li>
			</ul>
		</nav>
		
	</header>
	
	<main>
		<section>
			<h1>Lista de Contatos</h1>
			
		</section>
		
		<section>
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Telefone</th>
						<th>#</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contato: ${contatos}">
						<td th:text="${contato.nome}"></td>
						
						<td th:text="${contato.telefone}"></td>
						<td>
							<a th:href="@{/contatos/{contato}/editar(contato=${contato.id})}">Editar</a>
						</td>
						
						<td>
							<form th:action="@{/contatos/{contato}(contato=${contato.id})}" th:method="delete">
								<button>Remover</button>
							</form>
						</td>
					</tr>
					
				</tbody>
			</table>
		</section>
		
	</main>
	
	<br />
	<footer>
		&copy Dev Lock Tech - Todos os direitos reservados.
		
	</footer>
	
</body>

</html>